.head-info {
    display: flex; 
    justify-content: space-between;
}
.head-info-list{
    display: flex; 
    width: 50%;
    justify-content: space-between;
    margin-left: 29px;
    
}

    .client-info {
        display: flex;
        margin-left: -25px;
        justify-content: space-between;
        
       .buttons-div {
        width: 23%;
        display: flex;
        justify-content: space-between;
       }
    
    }
    .client-info-show {
        display: flex;
        margin-left: 0px;
        justify-content: space-between;
        
       .buttons-div {
        width: 23%;
        display: flex;
        justify-content: space-between;
       }
    
    }
    .show-buttons {
        margin-top: 15px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
