.container {
    .card-header {
        .title{
            text-transform: uppercase;
            letter-spacing: 2px
        }
    }
    .card-body{
        padding: 15px;
        .mb-3{
            .client-info{
                display: flex;
                margin-top: 15px;
            }
        }
        .btn-deduct {
            background-color: rgba(245, 245, 111, 0.612);
            border: none;
            color: black;
            &:hover{
                background-color: rgba(245, 215, 79, 0.869);
            }
        }
        .btn-add {
            background-color:rgba(144, 238, 144, 0.701);
            color: black;
            border: none;
            &:hover{
                background-color:rgba(2, 156, 2, 0.794);
            }
    }
}
}