.home {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80vh;
    h1 {
        color: rgb(43, 160, 207);
        font-size: 150px;
        line-height: 1;
        letter-spacing: 10px;
    }
}