// Fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Work+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//SASS
@import 'show.scss';
@import 'editFunds.scss';
@import 'home.scss';
@import 'welcome.scss';

body {
}
.login-body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#57606f, #2f3542);
    background-repeat:no-repeat;
    height: 100vh;
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,7);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,6);
        border-radius: 10px;
        .login-title {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .user-box {
            position: relative;
            input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;
            }
            label {
                // position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                pointer-events: none;
                transition: .5s;
            }
            input:focus~label, input:valid~label {
                top: -20px;
                left: 0;
                color: #03e9f4;
                font-size: 12px;
            }
         
        }
        .form-check-label {
            color: #fff;
        }
        .login-buttons {
            text-align: center;
            .button-link {
                .login-btn{
                    border: none;
                background: none;
                text-align: center;
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                color: #03e9f4;
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
                overflow: hidden;
                transition: .5s;
                margin-top: 40px;
                letter-spacing: 4px;
                &:hover {
                    background: #03e8f47b;
                    color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #03e9f4,
                                0 0 15px #03e9f4,
                                0 0 30px #03e9f4,
                                0 0 50px #03e9f4;
            }
        }
        }
        
    }
  
}




.main-title{
    text-align: center;
    margin-left: -10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    background: -webkit-linear-gradient(#07008e, #3d3c3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    .row{
        .col-8{
            .card {
                .card-header{
                    .head-info-list{
                        display: flex; 
                        width: 53%;
                        justify-content: space-between;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }
                .card-body{
                    table{
                        .list{
                            .list-btn{
                                display: flex;
                                justify-content: space-evenly;
                                .btn-show{
                                    background-color: rgba(123, 184, 248, 0.611);
                                    border: none;
                                    &:hover{
                                        color: #fff;
                                        background-color: rgba(15, 124, 240, 0.644);
                                    }
                                }
                                .btn-del{
                                    background-color: rgba(247, 121, 121, 0.71);
                                    color: black;
                                    border: none;
                                    &:hover{
                                        color: #fff;
                                        background-color: rgba(250, 33, 33, 0.808);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}