// Fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Work+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//SASS
@import 'show.scss';
@import 'editFunds.scss';
@import 'home.scss';
@import 'welcome.scss';
@import 'login.scss';
@import 'register.scss';
@import 'navbar.scss';

body {
    main{
        height: 100vh;
    }
    background: linear-gradient(#57606f, #2f3542); 

}





.main-title{
    margin-top: 20px;
    text-align: center;
    margin-left: -10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    background: -webkit-linear-gradient(#03e6e2, #01bea2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    .row{
        .col-8{
            .card {
                .card-header{
                    .head-info-list{
                        display: flex; 
                        width: 53%;
                        justify-content: space-between;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }
                .card-body{
                    table{
                        .list{
                            .list-btn{
                                display: flex;
                                justify-content: space-evenly;
                                .btn-show{
                                    background-color: rgba(123, 184, 248, 0.611);
                                    border: none;
                                    &:hover{
                                        color: #fff;
                                        background-color: rgba(15, 124, 240, 0.644);
                                    }
                                }
                                .btn-del{
                                    background-color: rgba(247, 121, 121, 0.71);
                                    color: black;
                                    border: none;
                                    &:hover{
                                        color: #fff;
                                        background-color: rgba(250, 33, 33, 0.808);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
