// Fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Work+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//SASS
@import 'show.scss';
@import 'editFunds.scss';
@import 'home.scss';
@import 'login.scss';
@import 'register.scss';
@import 'navbar.scss';

body {
    main{
        height: 100vh;
    }
    background: linear-gradient(#57606f, #2f3542); 

}





.main-title{
    margin-top: 20px;
    text-align: center;
    margin-left: -10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    background: -webkit-linear-gradient(#03e6e2, #01bea2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a .login-buttons {
    text-align: center;
    .button-link {
        .login-btn{
            border: none;
            background: none;
            text-align: center;
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            color: #03e9f4;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            letter-spacing: 4px;
            margin-bottom: 5px;
            &:hover {
                background: #03e8f47b;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px #03e9f4,
                            0 0 15px #03e9f4,
                            0 0 30px #03e9f4,
                            0 0 50px #03e9f4;
            }
        }
    }

}

.container {
    .row{
        .col-8{
            .card {
                background-color: #0000000d;
                box-shadow: 0 15px 25px rgba(0,0,0,6);
                .card-header{
                    color: #fff;
                    .head-info-list{
                        color: #fff;
                        display: flex; 
                        width: 53%;
                        justify-content: space-between;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }
                .card-body{
                    .form-label {
                        color: #fff;
                    }
                    table{
                        .list{
                            color: #fff;
                            padding: 5px;
                            .list-btn{
                                .btn{
                                    border: none;
                                    background: none;
                                    overflow: hidden;
                                    transition: .5s;
                                    letter-spacing: 4px;
                                    &:hover {
                                        background: #03e8f47b;
                                        color: #fff;
                                        border-radius: 5px;
                                        box-shadow: 0 0 5px #03e9f4,
                                                    0 0 15px #03e9f4,
                                                    0 0 30px #03e9f4,
                                                    0 0 50px #03e9f4;
                                    }
                                }
                                .btn-show{
                                    &:hover {
                                        background: #01799da3;
                                        color: #fff;
                                        border-radius: 5px;
                                        box-shadow: 0 0 5px #0396bf81,
                                                    0 0 15px #0396bf81,
                                                    0 0 30px #0396bf81,
                                                    0 0 30px #0396bf81;
                                    }
                                }
                                .btn-del{ 
                                    &:hover {
                                    background: #9c02197b;
                                    color: #fff;
                                    border-radius: 5px;
                                    box-shadow: 0 0 5px #f532507b,
                                                0 0 15px #f532507b,
                                                0 0 30px #f532507b,
                                                0 0 30px #f532507b;
                                    }
                                }
                            }
                        }
                        .create-btn{
                            border: none;
                            background: none;
                            text-align: center;
                            position: relative;
                            display: inline-block;
                            padding: 10px 20px;
                            color: #03e9f4;
                            font-size: 16px;
                            text-decoration: none;
                            text-transform: uppercase;
                            overflow: hidden;
                            transition: .5s;
                            margin-top: 40px;
                            letter-spacing: 4px;
                            margin-bottom: 5px;
                            &:hover {
                                background: #03e8f47b;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #03e9f4,
                                            0 0 15px #03e9f4,
                                            0 0 30px #03e9f4,
                                            0 0 50px #03e9f4;
                            }
                        }
                    }
                }
            }
        }
    }
}