.container {
    .row {
        .col-10 {
            .card {
                background-color: #04fbc51f;
                box-shadow: 0 15px 25px rgba(0,0,0,6);
                .card-header{
                    .title{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #fff;
                    }
                }
                .card-body {
                    .names {
                        color: #fff;
                        margin: 15px 0;
                            div{
                                margin: 8px 0;
                            }
                    }
                    .form-label {
                        color: #fff;
                    }
                    span {
                        color: #fff;
                        font-size: 12px;
                    }
                    .btn-deduct{
                        letter-spacing: 1.5px;
                        margin-top: 15px;
                        color: #ffffff;
                        &:hover {
                            background: #a3a45e56;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #c7c78054,
                                        0 0 15px #e4e49254,
                                        0 0 30px #e4e49254,
                                        0 0 30px #e4e49254;
                        }
                    }
                    .btn-add {
                        letter-spacing: 1.5px;
                        color: #ffffff;
                        &:hover {
                            background: #508755a3;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #95d68d81,
                                        0 0 15px #95d68d81,
                                        0 0 30px #95d68d81,
                                        0 0 30px #95d68d81;
                        }
                    }
                    .btn-show{
                        background: none;
                        border: none;
                        color: #ffffff;
                        letter-spacing: 1.5px;
                        padding: 5px;
                        &:hover {
                            background: #19677fa3;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #e6f8fd81,
                                        0 0 15px #e6f8fd81,
                                        0 0 30px #e6f8fd81,
                                        0 0 30px #0396bf81;
                        }
                    }
                }
            }
        }
    }
}