.container {
    .welcome-title{
        font-size: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        width: 100%;
        margin-top: 20px;
    }
    p{
        font-size: 15px;
        text-align: center;
        color: #fff;
        letter-spacing: 3px;
        width: 100%;
        margin-top: 20px;
    }
    .info {
        margin-top: 5%;
        .info-title {
            font-size: 25px;
            color: #f5f5f5;
            .data {
                .info-title-data{
                color: #bfbcbc;
                display: inline;
                }
            }
        }
    }
    .analytic{
        color: #fff;
        font-size: 25px;
        display: flex;
        img{
            margin-top: 50px;
            width: 500px;
        }
        div{

            h3{
                font-size: 20px;
                margin-top: 160px;
                letter-spacing: 2px;
                span{
                    font-weight: 700;
                    font-size: 30px;
                    color: rgb(54, 255, 228);
                }
            }
            h4{
                font-size: 20px;
                margin-top: 5px;
                letter-spacing: 2px;
                span{
                    font-weight: 700;
                    font-size: 30px;
                    color: rgb(54, 255, 228);
                }
            }
        }
    }
}