#app{
    .navbar .navbar-expand-m{
        background: rgba(36, 35, 35, 0.057);
        box-sizing: border-box;
        box-shadow: 0 5px 8px rgba(36, 35, 35, 0.4);
    }
    .navbar-brand {
        color: #05ebf8;
        letter-spacing: 3px;
        font-weight: 600;
        text-transform: uppercase;
        background: -webkit-linear-gradient(#03e6e2, #01bea2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nav-link {
        color: #01beb8;
        letter-spacing: 3px;
        &:hover{
            text-decoration: underline;
        }
    }
        .collapse {
            .navbar-nav{
                .nav-item {
                    .bg-transp {
                        background-color: #0000000d;
                        box-shadow: 0 15px 25px rgba(0,0,0,6);
                        .dropdown-item {
                            color: #fff;
                            &:hover {
                                color: black;
                                background-color: #0000000d;
                            }
                        }
                    }
                }
            }
        }
}
    
  
