.container {
    .row{
        .col-10{
            .card {
                background-color: #04fbc51f;
                box-shadow: 0 15px 25px rgba(0,0,0,6);
                .list-btn{
                    .btn-show{
                        margin: 15px;
                        color: #ffffff;
                        &:hover {
                            background: #19677fa3;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #e6f8fd81,
                                        0 0 15px #e6f8fd81,
                                        0 0 30px #e6f8fd81,
                                        0 0 30px #0396bf81;
                        }
                    }
                }
                    .head-info-list{
                        margin-left: -15px;
                        color: #fff;
                        display: flex; 
                        // width: 75%;
                        justify-content: space-evenly;
                        font-weight: 600;
                        letter-spacing: 2px;
                            // select, .sort-btn{
                            //     color: #fff;
                            //     background: none;
                            //     border: 1px solid #fff;
                            //     border-radius: 5px;
                            //     padding: 3px;
                            //     cursor: pointer;
                            //     option{
                            //         background-color: #013a32af;
                            //         color: rgb(255, 251, 251);
                            //     }
                            // }
                            // .sort-btn {
                            //     padding: 1px;
                            //     background: none;
                            //     border: none;
                            //     color: #ffffff;
                            //     &:hover {
                            //         box-shadow: 0 0 1px #e6f8fd81,
                            //                     0 0 3px #e6f8fd81,
                            //                     0 0 6px #e6f8fd81,
                            //                     0 0 6px #0396bf81;
                            //             }
                            // }
                        
                    }
                }
                .card-body{
                    .form-label {
                        color: #fff;
                    }
                    table{
                        .list{
                            color: #fff;
                            padding: 5px;
                            .client{
                                text-decoration: none;
                                color: #03e9f4;
                                &:hover{
                                    color: #c6f9fc;
                                }
                            }
                            .list-btn{
                                .btn{
                                    border: none;
                                    background: none;
                                    overflow: hidden;
                                    transition: .5s;
                                    letter-spacing: 4px;
                                    &:hover {
                                        background: #03e8f47b;
                                        color: #fff;
                                        border-radius: 5px;
                                        box-shadow: 0 0 5px #03e9f4,
                                                    0 0 15px #03e9f4,
                                                    0 0 30px #03e9f4,
                                                    0 0 50px #03e9f4;
                                    }
                                }
                                .btn-show{
                                    color: #ffffff;
                                    &:hover {
                                        background: #19677fa3;
                                        color: #fff;
                                        border-radius: 5px;
                                        box-shadow: 0 0 5px #e6f8fd81,
                                                    0 0 15px #e6f8fd81,
                                                    0 0 30px #e6f8fd81,
                                                    0 0 30px #0396bf81;
                                    }
                                }
                                .btn-del{ 
                                    color: #ffffff;
                                    &:hover {
                                    background: #991f327b;
                                    color: #fff;
                                    border-radius: 5px;
                                    box-shadow: 0 0 5px #ba3f527b,
                                                0 0 15px #ba3f527b,
                                                0 0 30px #ba3f527b,
                                                0 0 30px #ba3f527b;
                                    }
                                }
                            }
                        }
                        
                            }
                        }
                    }
                    .create-btn{
                        border: none;
                        background: none;
                        text-align: center;
                        position: relative;
                        display: inline-block;
                        padding: 10px 20px;
                        color: #03e9f4;
                        font-size: 16px;
                        text-decoration: none;
                        text-transform: uppercase;
                        overflow: hidden;
                        transition: .5s;
                        margin-top: 40px;
                        letter-spacing: 4px;
                        margin-bottom: 5px;
                        &:hover {
                            background: #03e8f47b;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #03e9f4,
                                        0 0 15px #03e9f4,
                                        0 0 30px #03e9f4,
                                        0 0 50px #03e9f4;
                        }
                    }
                }
            }
        
    