.register-body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#57606f, #2f3542);
    background-repeat:no-repeat;
    // height: 100vh;
    .register-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,7);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,6);
        border-radius: 10px;
        .register-title {
            font-size: 20px;
            margin: 0 0 20px;
            padding: 0;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        .user-box {
            position: relative;
            input {
                height: 30%;
                width: 100%;
                padding: 5px 0;
                font-size: 13px;
                color: #fff;
                margin-bottom: 15px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;
            }
            label {
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 13px;
                color: #fff;
                pointer-events: none;
                transition: .5s;
            }
            input:focus~label, input:valid~label {
                top: -20px;
                left: 0;
                color: #03e9f4;
                font-size: 12px;
            }
         
        }
        .form-check-label {
            color: #fff;
            text-decoration: none;
        }
        // .forgot-link:hover{
        //     cursor: pointer;
        // }
        .register-buttons {
            text-align: center;
            .button-link {
                .register-btn{
                    border: none;
                    background: none;
                    text-align: center;
                    position: relative;
                    display: inline-block;
                    padding: 10px 20px;
                    color: #03e9f4;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                    overflow: hidden;
                    transition: .5s;
                    margin-top: 40px;
                    letter-spacing: 4px;
                    margin-bottom: 5px;
                    &:hover {
                        background: #03e8f47b;
                        color: #fff;
                        border-radius: 5px;
                        box-shadow: 0 0 5px #03e9f4,
                                    0 0 15px #03e9f4,
                                    0 0 30px #03e9f4,
                                    0 0 50px #03e9f4;
                    }
                }
            }
        
        }
    }
}