
.container{
    .row {
        .col-6 {
            .card {
                background-color: #04fbc51f;
                box-shadow: 0 15px 25px rgba(0,0,0,6);
                .card-header{
                    .title{
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
                .info-table{
                    .card-body-show {
                        color: #fff;
                        text-align: center;
                        div{
                            padding: 15px;
                        }
                    }
                    .show-buttons {
                        margin-top: 15px;
                        margin: 20px;
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        .btn-deduct{
                            color: #ffffff;
                            &:hover {
                                background: #a3a50456;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #e5e54254,
                                            0 0 15px #e5e54254,
                                            0 0 30px #e5e54254,
                                            0 0 30px #e5e54254;
                            }
                        }
                        .btn-show{
                            color: #ffffff;
                            &:hover {
                                background: #19677fa3;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #0396bf81,
                                            0 0 15px #0396bf81,
                                            0 0 30px #0396bf81,
                                            0 0 30px #0396bf81;
                            }
                        }
                        .btn-add {
                            color: #ffffff;
                            &:hover {
                                background: #25822fa3;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #59bd4e81,
                                            0 0 15px #59bd4e81,
                                            0 0 30px #59bd4e81,
                                            0 0 30px #59bd4e81;
                            }
                        }
                    }
                }
            }
        }
    }
}

