
.container{
    .row {
        .col-6 {
            .card {
                background-color: #04fbc51f;
                box-shadow: 0 15px 25px rgba(0,0,0,6);
                .card-header{
                    .title{
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
                .info-table{
                    .card-body-show {
                        color: #fff;
                        text-align: center;
                        div{
                            padding: 15px;
                        }
                    }
                    .show-buttons {
                        margin-top: 15px;
                        margin: 20px;
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        .btn-deduct{
                            color: #ffffff;
                            &:hover {
                                background: #a3a45e56;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #c7c78054,
                                            0 0 15px #e4e49254,
                                            0 0 30px #e4e49254,
                                            0 0 30px #e4e49254;
                            }
                        }
                        .btn-show{
                            color: #ffffff;
                            &:hover {
                                background: #19677fa3;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #e6f8fd81,
                                                    0 0 15px #e6f8fd81,
                                                    0 0 30px #e6f8fd81,
                                                    0 0 30px #0396bf81;
                            }
                        }
                        .btn-add {
                            color: #ffffff;
                            &:hover {
                                background: #508755a3;
                                color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 5px #95d68d81,
                                            0 0 15px #95d68d81,
                                            0 0 30px #95d68d81,
                                            0 0 30px #95d68d81;
                            }
                        }
                        .btn-del{ 
                            color: #ffffff;
                            &:hover {
                            background: #991f327b;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #ba3f527b,
                                        0 0 15px #ba3f527b,
                                        0 0 30px #ba3f527b,
                                        0 0 30px #ba3f527b;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container{
    .row {
        .col-10 {
            .card {
                .list-btn{
                    display: flex;
                    justify-content: space-between;
                    .buttons {
                        .btn-del{ 
                            margin-top: 15px;
                            margin-right: 15px;
                            color: #ffffff;
                            &:hover {
                            background: #991f327b;
                            color: #fff;
                            border-radius: 5px;
                            box-shadow: 0 0 5px #ba3f527b,
                                        0 0 15px #ba3f527b,
                                        0 0 30px #ba3f527b,
                                        0 0 30px #ba3f527b;
                            }
                        }
                    }
                }
                .head-info-list{
                    justify-content: space-around;
                }
            }
        }
    }
}
