.login-body {
    background-color: rgba(73, 73, 255, 0.473);
}
.login-btn{
    // background-color:rgb(3, 147, 140);
    color: rgb(0, 0, 0);
    border: 0.5px solid;
    border-radius: 0.4em;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    background-color: #fdb5bcbb;
    border-color: #946065bb;
    margin-left: 37%;
    }
.login-btn:hover {
    background-color: rgba(3, 148, 138, 0.568);
    color: #fff;
    cursor: pointer;
}
.login-form > div{
padding: 15px;
}
.login-form {
    background-color: rgba(6, 209, 196, 0.354);
    width: 50%;
    border-radius: 1em;
    border: 0.5px solid rgba(3, 179, 167, 0.836);
    margin-left: calc(50% - 220px);
    margin-top: 5%;
}

.login-title {
    text-align: center;
    margin-top: 7%;
    text-transform: uppercase;
    color: rgba(1, 119, 111, 0.742);
    font-size: 45px;
}
.login-label {
    font-size: 25px;
}

.login-input{
    height: 1.5em;
}